In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from utils.load_csv import load_csv

In [2]:
df_posicoes = load_csv('df_posicoes.csv')

df_posicoes

,linha,id_onibus,timestamp,lat,lon,is_eletrico,modelo
0,342M-10,41610,2025-09-03T11:27:39Z,-23.519454,-46.546797,False,Articulado (23m)
1,342M-10,41501,2025-09-03T11:27:27Z,-23.599379,-46.485247,True,Miniônibus
2,342M-10,41783,2025-09-03T11:27:57Z,-23.564488,-46.513625,True,Articulado (18m)
3,342M-10,41510,2025-09-03T11:27:27Z,-23.613857,-46.476304,True,Miniônibus
4,342M-10,41583,2025-09-03T11:27:38Z,-23.613857,-46.476304,True,Midiônibus
...,...,...,...,...,...,...,...
147587,8009-10,10423,2025-09-03T11:34:57Z,-23.463490,-46.746013,False,Articulado (23m)
147588,6L02-10,66258,2025-09-03T11:34:51Z,-23.910759,-46.766351,False,Padron
147589,8021-10,80113,2025-09-03T11:35:01Z,-23.577175,-46.765109,True,Miniônibus
147590,6815-10,72011,2025-09-03T11:34:35Z,-23.656454,-46.763021,False,Articulado (18m)
147591,3903-10,32842,2025-09-03T11:32:07Z,-23.524180,-46.549048,False,Padron

In [3]:
df_posicoes['id_2'] = df_posicoes['linha'] + '_' + df_posicoes['id_onibus'].astype(str)

df_posicoes

,linha,id_onibus,timestamp,lat,lon,is_eletrico,modelo,id_2
0,342M-10,41610,2025-09-03T11:27:39Z,-23.519454,-46.546797,False,Articulado (23m),342M-10_41610
1,342M-10,41501,2025-09-03T11:27:27Z,-23.599379,-46.485247,True,Miniônibus,342M-10_41501
2,342M-10,41783,2025-09-03T11:27:57Z,-23.564488,-46.513625,True,Articulado (18m),342M-10_41783
3,342M-10,41510,2025-09-03T11:27:27Z,-23.613857,-46.476304,True,Miniônibus,342M-10_41510
4,342M-10,41583,2025-09-03T11:27:38Z,-23.613857,-46.476304,True,Midiônibus,342M-10_41583
...,...,...,...,...,...,...,...,...
147587,8009-10,10423,2025-09-03T11:34:57Z,-23.463490,-46.746013,False,Articulado (23m),8009-10_10423
147588,6L02-10,66258,2025-09-03T11:34:51Z,-23.910759,-46.766351,False,Padron,6L02-10_66258
147589,8021-10,80113,2025-09-03T11:35:01Z,-23.577175,-46.765109,True,Miniônibus,8021-10_80113
147590,6815-10,72011,2025-09-03T11:34:35Z,-23.656454,-46.763021,False,Articulado (18m),6815-10_72011
147591,3903-10,32842,2025-09-03T11:32:07Z,-23.524180,-46.549048,False,Padron,3903-10_32842

In [4]:
df_posicoes['id_onibus'].nunique()

11524

In [5]:
df_posicoes['id_2'].nunique()

11544

In [6]:
df = df_posicoes.groupby('id_onibus')['linha'].nunique() > 1

ids_multilinhas = df_posicoes[df_posicoes['id_onibus'].isin(df[df].index)]

ids_multilinhas[['id_onibus', 'linha']].drop_duplicates().sort_values('id_onibus')

        id_onibus    linha
3020         7311  675K-10
80379        7311  675K-23
69005        7311  677A-10
11197       10418  8047-51
84319       10418  8047-10
8190        12683  917M-31
126142      12683  917M-10
41049       22116  1788-10
518         22116  1788-31
5199        31128  4310-21
75059       31128  4310-10
54386       36195  2703-10
2348        36195  2703-22
11152       36263  2703-21
74815       36263  2703-10
80093       36520  2707-10
4486        36520  2707-31
57660       41559  2290-10
9919        41559  2290-21
9909        47571  3728-10
36021       47571  3728-41
7670        51449  5038-10
88529       51449  5034-10
3740        55093  573T-31
141834      55093  573T-10
81219       61221  6091-10
5478        61221  6091-51
1356        61668  6913-21
11928       61668  6913-10
124985      66943  6072-10
11307       66943  6063-21
7446        73837  637A-25
103654      73837  637A-10
99660       85763  8028-10
3009        85763  807P-10
52301       90999  514T-10
80532       90999  3738-10
58135       90999  3785-10

In [7]:
counts = df_posicoes.groupby('id_onibus')['linha'].nunique()

ids_multilinhas = counts[counts > 1].index

ids_multilinhas

Index([ 7311, 10418, 12683, 22116, 31128, 36195, 36263, 36520, 41559, 47571,
       51449, 55093, 61221, 61668, 66943, 73837, 85763, 90999],
      dtype='int64', name='id_onibus')

In [8]:
df_final = load_csv('df_final.csv')

df_final

,id_onibus,linha,is_eletrico,distancia_percorrida,ponto_inicial,ponto_final,momento_inicial,momento_final,modelo,litro_diesel_km,emissao_no2,emissao_co2
0,41610,342M-10,False,0.001100,"[-46.546797, -23.5194545]","[np.float64(-46.547896), np.float64(-23.519413...",2025-09-03 11:27:39+00:00,2025-09-03 11:28:24+00:00,Articulado (23m),0.85,0.000046,0.000079
1,41610,342M-10,True,0.000000,"[-46.547896, -23.519413375]","[np.float64(-46.547896), np.float64(-23.519413...",2025-09-03 11:28:24+00:00,2025-09-03 11:28:24+00:00,Articulado (23m),0.85,0.000000,0.000000
2,41610,342M-10,True,0.003288,"[-46.547896, -23.519413375]","[np.float64(-46.550168), np.float64(-23.521789...",2025-09-03 11:28:24+00:00,2025-09-03 11:29:54+00:00,Articulado (23m),0.85,0.000138,0.000235
3,41610,342M-10,False,0.001866,"[-46.550168, -23.52178975]","[np.float64(-46.5514535), np.float64(-23.523143)]",2025-09-03 11:29:54+00:00,2025-09-03 11:30:38+00:00,Articulado (23m),0.85,0.000078,0.000134
4,41610,342M-10,True,0.001959,"[-46.5514535, -23.523143]","[np.float64(-46.55280175), np.float64(-23.5245...",2025-09-03 11:30:38+00:00,2025-09-03 11:31:23+00:00,Articulado (23m),0.85,0.000082,0.000140
...,...,...,...,...,...,...,...,...,...,...,...,...
136063,76393,6200-10,True,0.000000,"[-46.727531, -23.6458]","[np.float64(-46.727531), np.float64(-23.6458)]",2025-09-03 11:34:24+00:00,2025-09-03 11:34:24+00:00,Biarticulado,0.90,0.000000,0.000000
136064,77879,6049-10,False,0.000000,"[-46.7642095, -23.6572335]","[np.float64(-46.7642095), np.float64(-23.65723...",2025-09-03 11:34:18+00:00,2025-09-03 11:35:03+00:00,Articulado (18m),0.80,0.000000,0.000000
136065,31643,274P-10,True,0.000746,"[-46.625438, -23.5531905]","[np.float64(-46.62597), np.float64(-23.553714)]",2025-09-03 11:34:08+00:00,2025-09-03 11:34:53+00:00,Articulado (18m),0.80,0.000015,0.000053
136066,48809,4013-10,False,0.001489,"[-46.449493, -23.62271]","[np.float64(-46.44801025), np.float64(-23.6225...",2025-09-03 11:34:13+00:00,2025-09-03 11:34:58+00:00,Padron,0.63,0.000040,0.000050
136067,31518,1177-10,False,0.000000,"[-46.481164, -23.5174155]","[np.float64(-46.481164), np.float64(-23.5174155)]",2025-09-03 11:34:24+00:00,2025-09-03 11:34:24+00:00,Midiônibus,0.47,0.000000,0.000000

In [9]:
df_final['id_onibus'].nunique()

11504

In [10]:
df_final['momento_final'].dtype

dtype('O')

In [11]:
df_final['momento_inicial'] = pd.to_datetime(df_final['momento_inicial'])
df_final['momento_final']   = pd.to_datetime(df_final['momento_final'])

In [12]:
df_final['duracao'] = (df_final['momento_final'] - df_final['momento_inicial']).dt.total_seconds()

df_final

,id_onibus,linha,is_eletrico,distancia_percorrida,ponto_inicial,ponto_final,momento_inicial,momento_final,modelo,litro_diesel_km,emissao_no2,emissao_co2,duracao
0,41610,342M-10,False,0.001100,"[-46.546797, -23.5194545]","[np.float64(-46.547896), np.float64(-23.519413...",2025-09-03 11:27:39+00:00,2025-09-03 11:28:24+00:00,Articulado (23m),0.85,0.000046,0.000079,45.0
1,41610,342M-10,True,0.000000,"[-46.547896, -23.519413375]","[np.float64(-46.547896), np.float64(-23.519413...",2025-09-03 11:28:24+00:00,2025-09-03 11:28:24+00:00,Articulado (23m),0.85,0.000000,0.000000,0.0
2,41610,342M-10,True,0.003288,"[-46.547896, -23.519413375]","[np.float64(-46.550168), np.float64(-23.521789...",2025-09-03 11:28:24+00:00,2025-09-03 11:29:54+00:00,Articulado (23m),0.85,0.000138,0.000235,90.0
3,41610,342M-10,False,0.001866,"[-46.550168, -23.52178975]","[np.float64(-46.5514535), np.float64(-23.523143)]",2025-09-03 11:29:54+00:00,2025-09-03 11:30:38+00:00,Articulado (23m),0.85,0.000078,0.000134,44.0
4,41610,342M-10,True,0.001959,"[-46.5514535, -23.523143]","[np.float64(-46.55280175), np.float64(-23.5245...",2025-09-03 11:30:38+00:00,2025-09-03 11:31:23+00:00,Articulado (23m),0.85,0.000082,0.000140,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136063,76393,6200-10,True,0.000000,"[-46.727531, -23.6458]","[np.float64(-46.727531), np.float64(-23.6458)]",2025-09-03 11:34:24+00:00,2025-09-03 11:34:24+00:00,Biarticulado,0.90,0.000000,0.000000,0.0
136064,77879,6049-10,False,0.000000,"[-46.7642095, -23.6572335]","[np.float64(-46.7642095), np.float64(-23.65723...",2025-09-03 11:34:18+00:00,2025-09-03 11:35:03+00:00,Articulado (18m),0.80,0.000000,0.000000,45.0
136065,31643,274P-10,True,0.000746,"[-46.625438, -23.5531905]","[np.float64(-46.62597), np.float64(-23.553714)]",2025-09-03 11:34:08+00:00,2025-09-03 11:34:53+00:00,Articulado (18m),0.80,0.000015,0.000053,45.0
136066,48809,4013-10,False,0.001489,"[-46.449493, -23.62271]","[np.float64(-46.44801025), np.float64(-23.6225...",2025-09-03 11:34:13+00:00,2025-09-03 11:34:58+00:00,Padron,0.63,0.000040,0.000050,45.0
136067,31518,1177-10,False,0.000000,"[-46.481164, -23.5174155]","[np.float64(-46.481164), np.float64(-23.5174155)]",2025-09-03 11:34:24+00:00,2025-09-03 11:34:24+00:00,Midiônibus,0.47,0.000000,0.000000,0.0

In [13]:
df_final['velocidade'] = df_final['distancia_percorrida'] / df_final['duracao']

df_final

,id_onibus,linha,is_eletrico,distancia_percorrida,ponto_inicial,ponto_final,momento_inicial,momento_final,modelo,litro_diesel_km,emissao_no2,emissao_co2,duracao,velocidade
0,41610,342M-10,False,0.001100,"[-46.546797, -23.5194545]","[np.float64(-46.547896), np.float64(-23.519413...",2025-09-03 11:27:39+00:00,2025-09-03 11:28:24+00:00,Articulado (23m),0.85,0.000046,0.000079,45.0,0.000024
1,41610,342M-10,True,0.000000,"[-46.547896, -23.519413375]","[np.float64(-46.547896), np.float64(-23.519413...",2025-09-03 11:28:24+00:00,2025-09-03 11:28:24+00:00,Articulado (23m),0.85,0.000000,0.000000,0.0,NaN
2,41610,342M-10,True,0.003288,"[-46.547896, -23.519413375]","[np.float64(-46.550168), np.float64(-23.521789...",2025-09-03 11:28:24+00:00,2025-09-03 11:29:54+00:00,Articulado (23m),0.85,0.000138,0.000235,90.0,0.000037
3,41610,342M-10,False,0.001866,"[-46.550168, -23.52178975]","[np.float64(-46.5514535), np.float64(-23.523143)]",2025-09-03 11:29:54+00:00,2025-09-03 11:30:38+00:00,Articulado (23m),0.85,0.000078,0.000134,44.0,0.000042
4,41610,342M-10,True,0.001959,"[-46.5514535, -23.523143]","[np.float64(-46.55280175), np.float64(-23.5245...",2025-09-03 11:30:38+00:00,2025-09-03 11:31:23+00:00,Articulado (23m),0.85,0.000082,0.000140,45.0,0.000044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136063,76393,6200-10,True,0.000000,"[-46.727531, -23.6458]","[np.float64(-46.727531), np.float64(-23.6458)]",2025-09-03 11:34:24+00:00,2025-09-03 11:34:24+00:00,Biarticulado,0.90,0.000000,0.000000,0.0,NaN
136064,77879,6049-10,False,0.000000,"[-46.7642095, -23.6572335]","[np.float64(-46.7642095), np.float64(-23.65723...",2025-09-03 11:34:18+00:00,2025-09-03 11:35:03+00:00,Articulado (18m),0.80,0.000000,0.000000,45.0,0.000000
136065,31643,274P-10,True,0.000746,"[-46.625438, -23.5531905]","[np.float64(-46.62597), np.float64(-23.553714)]",2025-09-03 11:34:08+00:00,2025-09-03 11:34:53+00:00,Articulado (18m),0.80,0.000015,0.000053,45.0,0.000017
136066,48809,4013-10,False,0.001489,"[-46.449493, -23.62271]","[np.float64(-46.44801025), np.float64(-23.6225...",2025-09-03 11:34:13+00:00,2025-09-03 11:34:58+00:00,Padron,0.63,0.000040,0.000050,45.0,0.000033
136067,31518,1177-10,False,0.000000,"[-46.481164, -23.5174155]","[np.float64(-46.481164), np.float64(-23.5174155)]",2025-09-03 11:34:24+00:00,2025-09-03 11:34:24+00:00,Midiônibus,0.47,0.000000,0.000000,0.0,NaN

In [14]:
df_final['velocidade'].describe()

c:\Users\x050258\projetos\dash_onibus_eletricos\venv\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    1.034370e+05
mean              inf
std               NaN
min     -9.754241e-05
25%      2.297994e-06
50%      2.436830e-05
75%      4.660371e-05
max               inf
Name: velocidade, dtype: float64

In [15]:
df_final[df_final['id_onibus'] == 80148]

,id_onibus,linha,is_eletrico,distancia_percorrida,ponto_inicial,ponto_final,momento_inicial,momento_final,modelo,litro_diesel_km,emissao_no2,emissao_co2,duracao,velocidade
130963,80148,778J-10,False,0.000000,"[-46.7137425, -23.5696525]","[np.float64(-46.7137425), np.float64(-23.56965...",2025-09-03 11:27:25+00:00,2025-09-03 11:28:10+00:00,Miniônibus,0.35,0.000000,0.000000,45.0,0.000000
130964,80148,778J-10,False,0.000442,"[-46.7137425, -23.5696525]","[np.float64(-46.713321750000006), np.float64(-...",2025-09-03 11:28:10+00:00,2025-09-03 11:28:55+00:00,Miniônibus,0.35,0.000008,0.000015,45.0,0.000010
130965,80148,778J-10,False,0.000847,"[-46.713321750000006, -23.56978875]","[np.float64(-46.71251600000001), np.float64(-2...",2025-09-03 11:28:55+00:00,2025-09-03 11:29:59+00:00,Miniônibus,0.35,0.000015,0.000029,64.0,0.000013
130966,80148,778J-10,True,0.001118,"[-46.71251600000001, -23.5700495]","[np.float64(-46.7114505), np.float64(-23.57038...",2025-09-03 11:29:59+00:00,2025-09-03 11:30:44+00:00,Miniônibus,0.35,0.000019,0.000039,45.0,0.000025
130967,80148,778J-10,True,0.000335,"[-46.7114505, -23.570387875]","[np.float64(-46.7111315), np.float64(-23.57048...",2025-09-03 11:30:44+00:00,2025-09-03 11:31:04+00:00,Miniônibus,0.35,0.000006,0.000012,20.0,0.000017
130968,80148,778J-10,False,0.001284,"[-46.7111315, -23.570489625]","[np.float64(-46.709908375), np.float64(-23.570...",2025-09-03 11:31:04+00:00,2025-09-03 11:31:49+00:00,Miniônibus,0.35,0.000022,0.000045,45.0,0.000029
130969,80148,778J-10,True,0.000000,"[-46.709908375, -23.570879]","[np.float64(-46.709908375), np.float64(-23.570...",2025-09-03 11:31:49+00:00,2025-09-03 11:31:49+00:00,Miniônibus,0.35,0.000000,0.000000,0.0,NaN
130970,80148,778J-10,True,0.000000,"[-46.709908375, -23.570879]","[np.float64(-46.709908375), np.float64(-23.570...",2025-09-03 11:31:49+00:00,2025-09-03 11:32:45+00:00,Miniônibus,0.35,0.000000,0.000000,56.0,0.000000
130971,80148,778J-10,False,0.001698,"[-46.709908375, -23.570879]","[np.float64(-46.708289875000006), np.float64(-...",2025-09-03 11:32:45+00:00,2025-09-03 11:33:30+00:00,Miniônibus,0.35,0.000030,0.000059,45.0,0.000038
130972,80148,778J-10,False,0.000657,"[-46.708289875000006, -23.571393625]","[np.float64(-46.7076625), np.float64(-23.57158...",2025-09-03 11:33:30+00:00,2025-09-03 11:33:46+00:00,Miniônibus,0.35,0.000011,0.000023,16.0,0.000041
130973,80148,778J-10,False,0.001711,"[-46.7076625, -23.5715885]","[np.float64(-46.706032750000006), np.float64(-...",2025-09-03 11:33:46+00:00,2025-09-03 11:34:27+00:00,Miniônibus,0.35,0.000030,0.000060,41.0,0.000042
130974,80148,778J-10,False,0.000000,"[-46.706032750000006, -23.572109]","[np.float64(-46.706032750000006), np.float64(-...",2025-09-03 11:34:27+00:00,2025-09-03 11:34:27+00:00,Miniônibus,0.35,0.000000,0.000000,0.0,NaN